 
 
 
:root {
    --meil-color:rgba(33, 33, 33, 1);
    --mail-color:#FFFFFF;
    --mel-color:rgba(117, 117, 117, 1);
    --mol-color: #2196F3;
    --accent-color:#1b1c1e;
    --zag-color:rgba(255, 255, 255, 1);
    --footer-color:rgba(255, 255, 255, 0.6);
    --focus-color:rgba(33, 150, 243, 1);
    }

body {
    font-family: Roboto ,Raleway, sans-serif;
    color:rgba(33, 33, 33, 1); ;
    background: #F5F5F5;
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}

img{display: block;}

/*-----HEADER-----*/

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--mol-color);
}

.accent {
    color:var(--accent-color);
}

.heder {
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: var(--meil-color)
    }
    
    .heder .link.current {
        color: #2196F3;
    }
        .heder.link:hover .heder.link:focus {
            color: #2196F3;
        }
    
        .stadi {
            color: var(--meil-color);
            cursor: pointer;
    
        }
    
        .stadi:hover .stadi:focus {
            color: var(--focus-color);
}
.stadi:current

.header link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--mel-color);
    cursor: pointer;

}
.link:hover
.link:focus{color: #2196F3;}
.tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--mel-color);
}
.tel :hover
.tel :focus{color: gba(33, 150, 243, 1);}
.meil{
    font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--mel-color);
    }
    .meil:hover
    .meil:focus{color: #1b1c1e;}
    
    /*-----hero----*/

.hero {
    background-color: #060607;
}

.hero-zag {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--zag-color)
}

.hero-but {
    background-color: #2196F3;
}

.hero-but {
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--mail-color);
    cursor:pointer;
}
.hero-but:active{color: #2196F3;}
/*--------section--------*/
.section-detel{ 
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color:var(--meil-color);
}

.section-tekst{
    font-size: 14px;
    line-height: 24px;
    color:var(--mel-color);

}

.section-diy {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color:var(--meil-color);

}

/*-----section-----*/
.section-comanda {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color:var(--meil-color);
}
.section-comanda {
    background: rgba(245, 244, 250, 1);
}

.section-comandaimg {
    font-weight: 500;
    line-height: 1.18;
    font-size: 16px;
    text-align: center;
    color: var(--meil-color);
}
.section-comandaprof {
    font-weight: 500;
    font-size: 16px;
    line-height:1.18;
    text-align: center;
    color:var(--mel-color);
}

/*-------portfolio----*/

.button-aktiv {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color:var(--mail-color);
    cursor: pointer;
}
.button-aktiv:hover
.button-aktiv:focus{color: #2196F3;}
.button-aktiv {
    background-color: #398fba;

}

.button-link{ background: #F5F4FA;;}
.button-link{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;}
.button {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    color:var(--meil-color);
    cursor: pointer;
}
.button .link:hover
.button .link:focus{color: #2196F3;}

.img link{padding:215px;
    top: 262px;}
.robotu-neim {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--meil-color);
}

.robotu-proekt {
    font-size: 16px;
    line-height: 1.87;
    color: var(--mel-color);
}

/*------footer----*/
.adress{font-style: normal;}

.footer {
    background-color: #060607;
}

.accent-footer {
    color: var(--mail-color);
}

.footer .link {
    cursor: auto;
}

.footer-web {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    color: var(--mol-color);
}
.footer-maps {
    line-height: 1.71;
    color:var(--mail-color);

}

.footer {
    line-height: 1.71;
    color:var(--footer-color);
    }
